
/* Estilos para celulares en modo vertical */
 @media (min-width: 300px) and (orientation: portrait) {

    .container-tv{
        height: 60%;
    }
    .tv-image {
        width: 100%;
        content:url("/assets/images/web\ template\ Tele\ 1024px-RECORTEBORDES.png");
    }
    .tv-video {
        top: 5%;
        left: 6%;
        width: 71%;
        height: 37%;
    }
} 
    /* Estilos para celulares en modo horizontal */
@media (min-width: 300px) and (max-width: 915px) and (orientation: landscape) {

    .container-tv{
        height: 100vh;
    }
    .tv-image {
        width: 100%;
        content:url("/assets/images/web\ template\ Tele\ sola.png");
    }
    .tv-video {
        top: 9%;
        left: 6%;
        width: 72%;
        height: 70%;
    }

}
    /* Estilos para tabletas en modo vertical */
@media (min-width: 601px) and (max-width: 1024px) and (orientation: portrait) {

    .container-tv{
        height: 75%;
    }
    .tv-image {
        width: 100%;
        content:url("/assets/images/web\ template\ Tele\ 1024px-RECORTEBORDES.png");
    }
    .tv-video {
        top: 5%;
        left: 7%;
        width: 70%;
        height: 37%;
    }

}
    /* Estilos para tabletas en modo horizontal */
@media (min-width: 601px) and (max-width: 1024px) and (orientation: landscape) {
    /* Estilos para celulares en modo horizontal */
    .container-tv{
        height: 100vh;
    }
    .tv-image {
        width: 100%;
        content:url("/assets/images/web\ template\ Tele\ sola.png");
    }
    .tv-video {
        top: 11%;
        left: 6%;
        width: 72%;
        height: 69%;
    }

} 
    /* Estilos para computadoras en modo vertical */
@media (min-width: 1025px){

    .container-tv{
        height: 100%;
    }
    .tv-image {
        width: 100%;
        content:url("/assets/images/web\ template\ Tele\ sola.png");
    }
    .tv-video {
        position: absolute;
        top: 11%;
        left: 6.5%;
        width: 72%;
        height: 69%;
    }

}
