

/* Media Queries para tablet */
@media screen and (max-width: 600px) {
    /* Estilos para tablets y dispositivos más grandes */

}
/* Media Queries para tablet */
@media screen and (min-width: 768px) {
    /* Estilos para tablets y dispositivos más grandes */

}
/* Media Queries para laptop Macbook */
@media screen and (min-width: 1280px) {

    .container-tv {
        width: 80%;
        
    }
}

/* Media Queries para laptop y pc */
@media screen and (min-width: 1440px) {

    
}
/* Dispositivos móviles en posición horizontal (landscape) */
@media (min-width: 480px) and (max-width: 1024px) and (orientation: landscape) {

    .container-tv{
        height: 100vh;
    }
    .tv-image {
        width: 100%;
        content:url("/assets/images/web\ template\ Tele\ sola.png");
    }
    .tv-video {
        position: absolute;
        top: 15%;
        left: 6.5%;
        width: 70%;
        height: 60%;
        border: none;
        box-shadow: 0px -1px 10px 20px rgba(0, 0, 0, 0.6);
        opacity: 0.8;
        border-radius: 4%;
        z-index: -2;
    }


}
