:root {
    /* --primary-color: #eee;
    --secondary-color: #ddd;
    --third-color: #fff; */
    --back-mobile: #fdc82a;
    --back-color: linear-gradient(135deg, #fdc82a, #ff6699);
    /* --background-alternativo: ; */
    --font-gral: 3vh;
    --font-dos: 2vh;
    --font-mini: 1vh;
    --titulo: 8vh;


}

html,
body {
    width: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.home-page {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    /* background: var(--back-mobile); */
    font-family: Arial, sans-serif;
    /* color: #fff; */
    overflow-x: hidden;
    justify-items: center;
    border-color: rgba(230, 4, 4, 0.829);
    border-width: 2px;
    border-style: dashed;
    align-items: center;
    justify-content: center;
    position: relative; /* Para posicionar elementos hijos */

}

/* .superpuesta {
    position: absolute;
    top: 50%; /* Centra verticalmente */
   /*  left: 50%; Centra horizontalmente */
   /* transform: translate(-50%, -50%);  Ajusta la posición para centrar */
    /* max-width: 50%;
    max-height: 50%; 
} */

.nav-bar {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    width: 100%;
    justify-content: space-between;

    border-color: rgb(7, 7, 7);
    border-width: 2px;
    border-style: dashed;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-link {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-dos);
    color: #fff;
}

.header {
    text-align: center;
    padding: 10px 0;
    background-size: cover;
    border-color: rgb(7, 7, 7);
    border-width: 2px;
    border-style: dashed;
}

.titulo {
    font-size: var(--titulo);
    text-shadow: 2px 2px 4px #000;
}

#bio,
#manifiesto,
#tienda {
    display: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-color: rgb(90, 224, 49);
    border-width: 4px;
    border-style: dashed;

    
    /* Imagen de fondo */
    background-image: url(/assets/images/web\ template\ Fondo.png);
    background-size: cover;

    background-size: 200% 100%;
    
    /* Hace que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    justify-content: center;
    background-color: rgb(98, 23, 128);
}

/* .section-ppal{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    border-style: dotted;
    border-color:rgb(15, 15, 15);  

} */

.logo {
    max-width: 20vw;
}
/* 
.container{
    display: flex;            
    flex-wrap: wrap;
    width: 100%;
    border-style: dotted;
    border-color:rgb(131, 189, 176);  
    justify-content: center;


} */

.container-modulo-centro{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    /* background-image: url(../images/fondoWeb.jpg);
    background-size: cover; */
    border-style: dotted;
    border-color:rgb(10, 117, 240);  
    /* justify-content: center;
    justify-items: center; */
    justify-content: center;

    /* min-width: 1000px;
     */


     
}

.container-modulo-aside{
    display: flex;
    border-style: dotted;
    border-color:rgb(240, 10, 10);  
    justify-content: center;
    justify-items: center;
    width: 15%;
}
/* 
#tv-mueble{
imagen mueble
  align-self: center;
  object-fit: fill;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
   */
 /*
.container-mueble{
    display: flex;
    position: relative;
    justify-content: center;
    width: 80%;
    min-width: 700px;
    max-width: 600p
    x; 
    height: 35%;
    margin: 0 auto;
    border-color: rgb(14, 107, 2);
    border-width: 5px;
    border-style: solid;
}
*/
.container-tv{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;

    border-color: rgb(13, 14, 13);
    border-width: 3px;
    border-style: solid;

    /*padding-top:  10%;
    position: relative;


    width:98%;          50% del ancho de la ventana para escalabilidad 
    height: 98%;         Ajuste automático de altura */
  
      width: 100%;          /* Ajusta el ancho al 80% del ancho de la pantalla para que sea responsive */
      max-width: 600px;     /* Ancho máximo para evitar que crezca demasiado */
      margin: auto;         /* Centra el contenedor en la pantalla */

}
.tv-image {
    border-color: rgb(16, 221, 16);
    border-width: 3px;
    position: relative;
    display: block;
    width: 120%;

    /* z-index: 2; */
}
.tv-video {
    position: absolute;
    top: 6%;
    left: 11%;
    width: 64%;
    height: 31%;
    border: none;
    box-shadow: 0px -1px 10px 20px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    border-radius: 4%;
}

.aside{
    display: flex;
    border-color: rgb(230, 5, 5);
    border-width: 2px;
    border-style: solid;
    width: 17%;
}





.footer {
    align-items: center;
    background-color: var(--back-mobile);
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    border-color: rgb(7, 7, 7);
    border-width: 2px;
    border-style: dashed;
}

.footer-content {
    text-align: center;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer ul li {
    margin: 0 15px;
}

.footer p {
    margin-top: 10px;
}