@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root {
    --primary-color: #eee;
    --secondary-color: #ddd;
    --third-color: #ff6699;
    --back-mobile: #fdc82a;
    --back-color: linear-gradient(135deg, #fdc82a, #ff6699);
    /* --background-alternativo: ; */
    --font-gral: 3vh;
    --font-dos: 2vh;
    --font-mini: 1vh;
    --titulo: 8vh;
}

html,
body {

    /* width: 100vw;
    height: 100vh; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', sans-serif;
}
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

.home-page {
/* BODY */
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    /* Imagen de fondo */
    background-image: url(/assets/images/web\ template\ Fondo2.png);

    /* Hace que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;


    align-items: center;
    justify-content: center;
    position: relative;
    /* Para posicionar elementos hijos */
    justify-items: center;

    /* height: 100vh; */
    font-family: 'Permanent Marker', sans-serif;
    overflow-x: hidden;

    border-color: rgba(230, 4, 4, 0.829);
    border-width: 2px;
    border-style: dashed;
}
.main {
    display: flex;
    height: 98vh;
 
    border-color: rgb(90, 224, 49);
    border-width: 4px;
    border-style: dashed;
    justify-content: center;
    align-items: center;
    /* max-width: 1000px; */
}

.container-tv {
    display: flex;

    position: relative;
    border-color: rgb(228, 243, 20);
    border-width: 3px;
    border-style: solid;
    justify-items: center;
    justify-content: center;


}

.tv-image {
    position: relative;   
    width: 100%;
    height: 100%;
 
    justify-items: center;
}

.tv-video {
    position: absolute;
    top: 5%;
    left: 6.5%;
    width: 70%;
    height: 40%;
    border: none;
    box-shadow: 0px -1px 10px 20px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    border-radius: 4%;
    z-index: -2;
}



